@model TablesVM

@{
    ViewData["Title"] = "Home Page";
}
@foreach (var information in Model.Information)
{
    <a href="https://api.whatsapp.com/send?phone=@information.Phone" target="_blank"><img src="./images/whatsapp.png" class="whatsapp" /></a>
}

<a href="#contact" class="js-anchor-link btn-con">Contact Us</a>
<!-- Header -->
<div class="navik-header header-shadow">

    <div class="style-language">
        <div class="container d-flex align-items-center justify-content-end">
            <div class="d-flex align-items-center mx-1">
                <img src="~/images/english.png" alt="english" width="20" class="mx-1">
                <a asp-controller="Home" asp-action="Index">EN</a>
            </div>
            <a href="#" class="mx-1">|</a>
            <div class="d-flex align-items-center mx-1">
                <img src="~/images/arabic.png" alt="arabic" width="20" class="mx-1">
                <a asp-controller="Home" asp-action="Index_ar">AR</a>
            </div>
        </div>
    </div>
    <div class="cont-padding">
        <!-- Navik header -->
        <div class="navik-header-container">

            <!--Logo-->
            <div class="logo" data-mobile-logo="images/logoNew.png"
                 data-sticky-logo="images/logoNew.png">
                <a href="#home"><img src="images/logoNew.png" alt="logo" /></a>
            </div>

            <!-- Burger menu -->
            <div class="burger-menu">
                <div class="line-menu line-half first-line"></div>
                <div class="line-menu"></div>
                <div class="line-menu line-half last-line"></div>
            </div>

            <!--Navigation menu-->
            <nav class="navik-menu menu-caret submenu-top-border submenu-scale">
                <ul class="list-unstyled">
                    <li>
                        <a href="#home" class="js-anchor-link"><i class="fas fa-home mx-1"></i>Home</a>
                    </li>
                    <li><a href="#about" class="js-anchor-link">Who we are</a></li>
                    <li><a href="#services" class="js-anchor-link">Our Services</a></li>
                    <li><a href="#partners" class="js-anchor-link">Our Partners</a></li>
                    <li><a href="#contact" class="js-anchor-link">Contact Us</a></li>
                   
                    <partial name="~/Views/Shared/_btn_dash.cshtml" />
                     <li>
                        @foreach (var information in Model.Information)
                        {
                            <a class="button--gradient js-modal dis-none" data-modal="#modal_2">@information.GetAquote</a>
                        }
                    </li>
                </ul>
               @foreach (var information in Model.Information)
            {
                <a class="button--gradient js-modal dis-block" data-modal="#modal_2">@information.GetAquote</a>
            }
            </nav>

        </div>

    </div>
</div>

<div class="container-slide">
            <div id="overflow-all"></div>
            <div class="arrow arrow-left"><i class="fas fa-chevron-circle-left"></i></div>
            @foreach (var slider in Model.Sliders)
             {
            <div class="img">
            <img src="http://www.imshah.com/Components/Images/Sliders/@slider.ImageUrl" alt="">
                <div class="box-text">
                    <h1>@slider.Name</h1>
                    <p>@slider.Text</p>
                </div>
            </div>
             }
         
            <div class="arrow arrow-right"><i class="fas fa-chevron-circle-right"></i>
            </div>
         <div class="dots">
              <div class="dot">
                <i class="far fa-dot-circle"></i>
              </div>
              <div class="dot">
                <i class="far fa-circle"></i>
              </div>
              <div class="dot">
                <i class="far fa-circle"></i>
              </div>
            </div>
          </div>
<main class="">
    <section class="sectionAbout aboutPadding  block">
        <div class="container" id="about">
            <div class="row align-items-center ">
                @foreach (var about in Model.About)
                {
                    <div class="col-md-6">
                        <div class="sectionAbout-text">
                            <h3 data-animation="slideInRight">Who we are?</h3>
                            <p >
                                @about.Text1
                            </p>

                            <h3 data-animation="slideInRight">Mission</h3>
                            <p >
                                @about.Text2
                            </p>

                            <h3 data-animation="slideInRight">Vision</h3>
                            <p >
                                @about.Text3
                            </p>
                            <button onclick="window.location.href='#contact';" 
                                class="btn-text mt-4">
                                Contact Us
                            </button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="sectionAbout-images">
                            <img src="http://www.imshah.com/Components/Images/Abouts/@about.ImageUrl" alt="about" class="img1">
                            <img src="http://www.imshah.com/Components/Images/Abouts/@about.ImageUrl2" alt="about" class="img2">
                        </div>
                    </div>

                }

            </div>
        </div>
    </section>
    <section class="our-servcies block" id="services">
        <div class="container">
            <h3 class="heading-tertiary mt-5">Our Services</h3>
            <p class="sub-heading sub-heading--black">Expert care for you</p>
            <div class="row">
                @foreach (var service in Model.Services)
                {
                    <div class="col-md-4">
                        <div class="box-service">
                            <div class="box-service-img">
                                <img src="http://www.imshah.com/Components/Images/Services/@service.ImageUrl" alt="coding">
                            </div>
                            <h4 class="text-center">@service.Name</h4>
                        </div>
                    </div>
                }

            </div>
        </div>
    </section>
    <div class="sectionAbout ">
        <div class="container">
            <div class="row ">
                @foreach (var goal in Model.Goals)
                {
                    <div class="col-md-6">
                        <div class="sectionAbout-images sectionAbout2-img">
                            <img src="http://www.imshah.com/Components/Images/Goals/@goal.ImageUrl" alt="about" class="img1">
                            <img src="http://www.imshah.com/Components/Images/Goals/@goal.ImageUrl2" alt="about" class="img1">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="sectionAbout-text">
                            <h3 >@goal.Name</h3>
                            <p id="text">@goal.Text </p>
                            <button class="btn-text" onclick="toggleText(this)">Read more</button>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
    <section class="section-contact block block-pad" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="section-contact-text">
                        <h1 >Contact Us</h1>
                        <h5 ata-animation="slideInUp">
                            IMSHAH AI APPLICATIONS AND SERVICES
                        </h5>
                        @foreach (var information in Model.Information)
                        {
                            <p class="mt-5" ata-animation="slideInUp" >@information.FindUs</p>
                            <p >@information.Workinghours</p>
                            <p>@information.Email</p>
                            <p >@information.Phone</p>
                        }
                    </div>
                </div>
                <div class="col-md-6">
                    <form asp-controller="Contacts" asp-action="Create" method="post" class="form-style" >
                        <div class="row align-items-center ">
                            <div class="col-md-6">
                                <div class="form-group me-2">
                                    <label for="firstName">First Name :</label>
                                    <input type="text" id="firstName" name="firstName" class="form-control"
                                           placeholder="add first Name" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group ms-2">
                                    <label for="lastName">Last Name :</label>
                                    <input type="text" id="lastName" name="lastName" class="form-control"
                                           placeholder="add last Name" required>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email">Email :</label>
                            <input type="email" id="email" name="email" class="form-control"
                                   placeholder="add email" required>
                        </div>
                        <div class="form-group">
                            <label for="subject">Subject :</label>
                            <input type="text" id="subject" name="subject" class="form-control"
                                   placeholder="add subject" required>
                        </div>
                        <div class="form-group">
                            <label for="message">Message :</label>
                            <textarea type="text" id="message" name="message" rows="4" class="form-control"
                                      placeholder="add message" required></textarea>
                        </div>
                        <div class="form-group">
                                <div class="g-recaptcha"
                                     data-sitekey="6Lel4Z4UAAAAAOa8LO1Q9mqKRUiMYl_00o5mXJrR"></div>

                        </div>
                        <div class="form-group">
                            <button type="submit">Send</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <img src="~/images/back.png" alt="" class="img-back">
    </section>
    <section class="section-Specialists">
        <div class="section-Specialists-text">
            <div class="container-padding">
                <h4>Our Products </h4>
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-4 col-6 my-2">
                        <button data-animation="slideInUp" data-animation-delay=".3s">
                            E-Survey
                        </button>
                    </div>
                    <div class="col-md-4 col-6 my-2">
                        <button data-animation="slideInUp" data-animation-delay=".6s"> E- Store</button>
                    </div>
                    <div class="col-md-4 col-6 my-2">
                        <button data-animation="slideInUp" data-animation-delay=".9s">
                            Learning Management System
                        </button>
                    </div>
                    <div class="col-md-4 col-6 my-2">
                        <button data-animation="slideInUp" data-animation-delay=".3s">
                            Employee Application
                        </button>
                    </div>
                    <div class="col-md-4 col-6 my-2">
                        <button data-animation="slideInUp" data-animation-delay=".6s">
                            E-Volunteer
                        </button>
                    </div>
                    <div class="col-md-4 col-6 my-2">
                        <button data-animation="slideInUp" data-animation-delay=".9s">
                            CRM Application
                        </button>
                    </div>
                    <div class="col-md-4 col-6 my-2">
                        <button data-animation="slideInUp" data-animation-delay=".3s">
                            Event Management System
                        </button>
                    </div>
                    <div class="col-md-4 col-6 my-2">
                        <button data-animation="slideInUp" data-animation-delay=".6s">
                            Catering Management System
                        </button>
                    </div>
                    <div class="col-md-4 col-6 my-2">
                        <button data-animation="slideInUp" data-animation-delay=".9s"> Education Training Application</button>
                    </div>
                
                </div>
            </div>
        </div>
    </section>
    <section class="section-Specialists">
        <div class="section-Specialists-text">
            <div class="container-padding">
                <h4>
                     News and Magazine
                </h4>
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-12 col-6 my-2 mx-auto ">
                        <button data-animation="slideInUp" data-animation-delay=".3s" class="size-button">
                            2023 April Release
                        </button>
                    </div>
                    <div class="col-md-12 col-6 my-2">
                        <button data-animation="slideInUp" data-animation-delay=".6s" class="size-button">
                            2023 July Release
                        </button>
                    </div>
                    <div class="col-md-12 col-6 my-2">
                        <button data-animation="slideInUp" data-animation-delay=".9s" class="size-button">
                            2023 September Release
                        </button>
                    </div>
                    <div class="col-md-12 col-6 my-2">
                        <button data-animation="slideInUp" data-animation-delay=".3s" class="size-button"> 2023 December Release</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
  
    <div id="projectFacts" class="sectionClass" >
        <div class="fullWidth eight columns">
            <div class="projectFactsWrap ">
                <div class="item wow fadeInUpBig animated animated" data-number="12" style="visibility: visible;">
                    <i class="fa fa-briefcase"></i>
                    <p id="number1" class="number">12</p>
                    <span></span>
                    <p>Products</p>
                </div>
                <div class="item wow fadeInUpBig animated animated" data-number="55" style="visibility: visible;">
                    <i class="fa fa-smile-o"></i>
                    <p id="number2" class="number">55</p>
                    <span></span>
                    <p>Happy clients</p>
                </div>
                <div class="item wow fadeInUpBig animated animated" data-number="359" style="visibility: visible;">
                    <i class="fas fa-code"></i>
                    <p id="number3" class="number">359</p>
                    <span></span>
                    <p>Expert</p>
                </div>
                <div class="item wow fadeInUpBig animated animated" data-number="246" style="visibility: visible;">
                    <i class="fas fa-user-graduate"></i>
                    <p id="number4" class="number">246</p>
                    <span></span>
                    <p>Students</p>
                </div>
            </div>
        </div>
    </div>


    <section class="section2-slider" id="partners">
        <h4 > Clients and Partners</h4>
        <div class="container">
            <div class="wrapper">
                <div class="carousel">
                    @foreach (var partner in Model.Partner)
                    {
                        <div class="card-div product">
                            <img src="http://www.imshah.com/Components/Images/Partners/@partner.ImageUrl" alt="">
                        </div>
                    }

                </div>
            </div>
        </div>
    </section>
    <section class="section2-slider visitors" id="partners">
        <h4>Visitors</h4>
        <div class="container">
            <h1 id="counterVis" class="text-center" style="font-size:25px;font-family:'Cairo';font-weight:bold;letter-spacing:1px;"><script>fakecounter()</script></h1>
        </div>
    </section>
</main>

@foreach (var information in Model.Information)
{
    <footer class="footer-section">
        <div class="container-padding">
            <div class="footer-cta pt-5 pb-5">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-md-4 mb-30 col-6">
                        <div class="single-cta">
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="cta-text">
                                <h4>Find us</h4>
                                <span>@information.FindUs</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-4 mb-30 col-6">
                        <div class="single-cta">
                            <i class="fas fa-phone"></i>
                            <div class="cta-text">
                                <h4>Call us</h4>
                                <span>@information.Phone</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-4 mb-30 col-6">
                        <div class="single-cta">
                            <i class="far fa-envelope-open"></i>
                            <div class="cta-text">
                                <h4>Mail us</h4>
                                <span>@information.Email</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
                        <div class="footer-widget">

                            <ul>
                                <li><a href="#home">Home</a></li>
                                <li><a href="#about">WHo we are</a></li>
                                <li><a href="#services">Our Services</a></li>
                                <li><a href="#partners">Our Partners</a></li>
                                <li><a href="#contact">Contact Us</a></li>
                                <li><a href="mailto: info@imshah.com">Careers</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="footer-social-icon">
                            <span class="ms-5">Follow Us</span>
                            <a href="@information.Facebook"><img src="~/images/facebook.png" /></a>
                            <a href="@information.Twiter"><img src="~/images/twitter.png" /></a>
                            <a href="@information.Instgram"><img src="~/images/instagram.png" /></a>
                            <a href="@information.Tiktok"><img src="~/images/tiktok.png" class="tiktok-bg" /></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-6 text-center text-lg-left">
                        <div class="copyright-text">
                            <p>Copyright &copy; 2023, All Right Reserved </p>
                        </div>
                    </div>
          
                </div>
            </div>
        </div>
    </footer>
}


<!-- /.wrap-center-middle -->

<div id="modal_2" class="modal-window">
    <div class="modal-window__title section-contact">

        <form asp-controller="Quotes" asp-action="Create" method="post" class="form-style">
            <h1 class="h1-form">Get Aquote</h1>

            <div class="form-group ">
                <label for="fullName">Full Name :</label>
                <input type="text" id="fullName" name="fullName" class="form-control"
                       placeholder="add Full Name Name" required>
            </div>
            <div class="form-group ">
                <label for="companyName">Company Name :</label>
                <input type="text" id="companyName" name="companyName" class="form-control"
                       placeholder="add Company Name Name" required>
            </div>

            <div class="form-group">
                <label for="email">Email :</label>
                <input type="email" id="email" name="email" class="form-control"
                       placeholder="add email" required>
            </div>
            <div class="form-group">
                <label for="subject">Subject :</label>
                <input type="text" id="subject" name="subject" class="form-control"
                       placeholder="add subject" required>
            </div>
            <div class="form-group">
                <label for="message">Message :</label>
                <textarea type="text" id="message" name="message" rows="4" class="form-control"
                          placeholder="add message" required></textarea>
            </div>
            <div class="form-group d-flex">
                <button type="submit">Send</button>
                <button class="modal-close">Close</button>
            </div>
        </form>
    </div>
</div>
<!-- /#modal_2 -->
<div class="modal-window__backdrop hidden" id="modal-backdrop"></div>








