@model TablesVM

@{
    ViewData["Title"] = "Home Page";
}
<a href="#contact" class="js-anchor-link btn-con">تواصل معنا </a>
<!-- Header -->
<div class="navik-header header-shadow style-arabic">

    <div class="style-language">
        <div class="container d-flex align-items-center justify-content-end">
            <div class="d-flex align-items-center mx-1">
                <img src="~/images/english.png" alt="english" width="20" class="mx-1">
                <a asp-controller="Home" asp-action="Index">EN</a>
            </div>
            <a href="#" class="mx-1">|</a>
            <div class="d-flex align-items-center mx-1">
                <img src="~/images/arabic.png" alt="arabic" width="20" class="mx-1">
                <a asp-controller="Home" asp-action="Index_ar">AR</a>
            </div>
        </div>

    </div>
    <div class="container style-arabic">
        <!-- Navik header -->
        <div class="navik-header-container">

            <!--Logo-->
            <div class="logo" data-mobile-logo="/images/logoNew.png"
                 data-sticky-logo="/images/logoNew.png">
                <a href="#home"><img src="/images/logoNew.png" alt="logo" /></a>
            </div>

            <!-- Burger menu -->
            <div class="burger-menu">
                <div class="line-menu line-half first-line"></div>
                <div class="line-menu"></div>
                <div class="line-menu line-half last-line"></div>
            </div>

            <!--Navigation menu-->
            <nav class="navik-menu menu-caret submenu-top-border submenu-scale">
                <ul class="list-unstyled">
                    <li>
                        <a href="#home" class="js-anchor-link"><i class="fas fa-home mx-1"></i>الرئيسية</a>
                    </li>
                    <li><a href="#about" class="js-anchor-link">من نحن</a></li>
                    <li><a href="#services" class="js-anchor-link">خدماتنا</a></li>
                    <li><a href="#partners" class="js-anchor-link">شركائنا</a></li>
                    <li><a href="#contact" class="js-anchor-link">تواصل معنا</a></li>
                    <partial name="~/Views/Shared/_btn_dash_ar.cshtml" />
                      <li>
                        @foreach (var information in Model.Information)
                        {
                            <a class="button--gradient js-modal dis-none" data-modal="#modal_2">@information.GetAquote_ar</a>
                        }
                    </li>
                </ul>
                @foreach (var information in Model.Information)
                {
                    <a class="button--gradient js-modal dis-block" data-modal="#modal_2">@information.GetAquote_ar</a>
                }
            </nav>

        </div>

    </div>
</div>
<!---Advance Slider--->
<div class="container-slide style-arabic">
            <div id="overflow-all"></div>
            <div class="arrow arrow-left"><i class="fas fa-chevron-circle-left"></i></div>
            @foreach (var slider in Model.Sliders)
             {
            <div class="img">
                <img src="~/Components/Images/Sliders/@slider.ImageUrl" alt="">
                <div class="box-text">
                    <h1>@slider.Name_ar</h1>
                    <p>@slider.Text_ar</p>
                </div>
            </div>
             }
         
            <div class="arrow arrow-right"><i class="fas fa-chevron-circle-right"></i>
            </div>
         <div class="dots">
              <div class="dot">
                <i class="far fa-dot-circle"></i>
              </div>
              <div class="dot">
                <i class="far fa-circle"></i>
              </div>
              <div class="dot">
                <i class="far fa-circle"></i>
              </div>
            </div>
          </div>
<main class="style-arabic">
    <section class="sectionAbout aboutPadding  block">
        <div class="container" id="about">
            <div class="row align-items-center ">
                @foreach (var about in Model.About)
                {
                    <div class="col-md-6">
                        <div class="sectionAbout-text">
                            <h3 data-animation="slideInRight">من نحن ؟</h3>
                            <p >
                                @about.Text_ar1
                            </p>

                            <h3 data-animation="slideInRight">مهمتنا</h3>
                            <p >
                                @about.Text_ar2
                            </p>

                            <h3 data-animation="slideInRight">رؤيتنا</h3>
                            <p >
                                @about.Text_ar3
                            </p>
                            <button onclick="window.location.href='#contact';"
                                class="btn-text mt-4">
                                تواصل معنا
                            </button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="sectionAbout-images">
                            <img src="~/Components/Images/Abouts/@about.ImageUrl" alt="about" class="img1" >
                            <img src="~/Components/Images/Abouts/@about.ImageUrl2" alt="about" class="img2">
                        </div>
                    </div>

                }

            </div>
        </div>
    </section>
    <section class="our-servcies block" id="services">
        <div class="container">
            <h3 class="heading-tertiary mt-5">خدماتنا</h3>
            <p class="sub-heading sub-heading--black">نقدم العديد من الخدمات البرمجية والتقنية , نمتلك فريق تقني مميز قادر على إنجاز المشاريع وتحويل فكرتك إلى مشروع برمجي .</p>
            <div class="row">
                @foreach (var service in Model.Services)
                {
                    <div class="col-md-4">
                        <div class="box-service">
                            <div class="box-service-img">
                                <img src="~/Components/Images/Services/@service.ImageUrl" alt="coding">
                            </div>
                            <h4 class="text-center">@service.Name_ar</h4>
                        </div>
                    </div>
                }

            </div>
        </div>
    </section>
    <div class="sectionAbout ">
        <div class="container">
            <div class="row ">
                @foreach (var goal in Model.Goals)
                {
                    <div class="col-md-6">
                        <div class="sectionAbout-images sectionAbout2-img">
                            <img src="~/Components/Images/Goals/@goal.ImageUrl" alt="about" class="img1">
                             <img src="~/Components/Images/Goals/@goal.ImageUrl2" alt="about" class="img1">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="sectionAbout-text">
                            <h3>@goal.Name_ar</h3>
                            <p id="text">@goal.Text_ar </p>
                            <button class="btn-text" id="btnAr" onclick="toggleTextAr(this)">قراءة المزيد</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <section class="section-contact block block-pad" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="section-contact-text">
                        <h1>تواصل معنا</h1>
                        <h5 ata-animation="slideInUp">
                            تطبيقات وخدمات IMSHAH AI
                        </h5>
                        @foreach (var information in Model.Information)
                        {
                            <p class="mt-5" ata-animation="slideInUp" >@information.FindUs_ar</p>
                            <p ata-animation="slideInUp">@information.Workinghours</p>
                            <p ata-animation="slideInUp">@information.Email</p>
                            <p ata-animation="slideInUp">@information.Phone</p>
                        }
                    </div>
                </div>
                <div class="col-md-6">
                    <form asp-controller="Contacts" asp-action="Create" method="post" class="form-style" data-animation="flipInY" data-animation-delay="600ms">
                        <div class="row align-items-center ">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="firstName">الاسم الأول :</label>
                                    <input type="text" id="firstName" name="firstName" class="form-control"
                                           placeholder="اضف الإسم الأول">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="lastName">الاسم الثاني :</label>
                                    <input type="text" id="lastName" name="lastName" class="form-control"
                                           placeholder="اضف الإسم الأخير">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email">الإيميل :</label>
                            <input type="email" id="email" name="email" class="form-control"
                                   placeholder="اضف الإيميل">
                        </div>
                         <div class="form-group">
                            <label for="subject">عنوان الرسالة :</label>
                            <input type="text" id="subject" name="subject" class="form-control"
                                   placeholder="اضف عنوان الرسالة">
                        </div>
                        <div class="form-group">
                            <label for="message">الرسالة :</label>
                            <textarea type="text" id="message" name="message" rows="4" class="form-control"
                                      placeholder="اضف رسالتك"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit">إرسال</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <img src="~/images/back.png" alt="" class="img-back">
    </section>
    <section class="section-Specialists">
        <div class="section-Specialists-text">
            <div class="container-padding">
                <h4>منتجاتنا </h4>
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-4 col-6 my-2">
                        <button data-animation="slideInUp" data-animation-delay=".3s"> All kinds of Portal</button>
                    </div>
                    <div class="col-md-4 col-6 my-2">
                        <button data-animation="slideInUp" data-animation-delay=".6s"> Native IOS Apps</button>
                    </div>
                    <div class="col-md-4 col-6 my-2">
                        <button data-animation="slideInUp" data-animation-delay=".9s"> Native Android apps</button>
                    </div>
                    <div class="col-md-4 col-6 my-2">
                        <button data-animation="slideInUp" data-animation-delay=".3s"> Huawei Apps</button>
                    </div>
                    <div class="col-md-4 col-6 my-2">
                        <button data-animation="slideInUp" data-animation-delay=".6s">.Net</button>
                    </div>
                    <div class="col-md-4 col-6 my-2">
                        <button data-animation="slideInUp" data-animation-delay=".9s"> Php</button>
                    </div>
                    <div class="col-md-4 col-6 my-2">
                        <button data-animation="slideInUp" data-animation-delay=".3s"> Java </button>
                    </div>
                    <div class="col-md-4 col-6 my-2">
                        <button data-animation="slideInUp" data-animation-delay=".6s"> Out System</button>
                    </div>
                    <div class="col-md-4 col-6 my-2">
                        <button data-animation="slideInUp" data-animation-delay=".9s"> Xamarin</button>
                    </div>
                    <div class="col-md-4 col-6 my-2">
                        <button data-animation="slideInUp" data-animation-delay=".3s"> SEO</button>
                    </div>
                    <div class="col-md-4 col-6 my-2">
                        <button data-animation="slideInUp" data-animation-delay=".6s"> E-pay</button>
                    </div>
                    <div class="col-md-4 col-6 my-2">
                        <button data-animation="slideInUp" data-animation-delay=".9s"> E-survey</button>
                    </div>
                    <div class="col-md-4 col-6 my-2">
                        <button data-animation="slideInUp" data-animation-delay=".3s"> E-lawyer</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-Specialists">
        <div class="section-Specialists-text">
            <div class="container-padding">
                <h4>مجلتنا </h4>
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-4 col-6 my-2">
                        <button data-animation="slideInUp" data-animation-delay=".3s"> All kinds of Portal</button>
                    </div>
                    <div class="col-md-4 col-6 my-2">
                        <button data-animation="slideInUp" data-animation-delay=".6s"> Native IOS Apps</button>
                    </div>
                    <div class="col-md-4 col-6 my-2">
                        <button data-animation="slideInUp" data-animation-delay=".9s"> Native Android apps</button>
                    </div>
                    <div class="col-md-4 col-6 my-2">
                        <button data-animation="slideInUp" data-animation-delay=".3s"> Huawei Apps</button>
                    </div>
                    <div class="col-md-4 col-6 my-2">
                        <button data-animation="slideInUp" data-animation-delay=".6s">.Net</button>
                    </div>
                    <div class="col-md-4 col-6 my-2">
                        <button data-animation="slideInUp" data-animation-delay=".9s"> Php</button>
                    </div>
                    <div class="col-md-4 col-6 my-2">
                        <button data-animation="slideInUp" data-animation-delay=".3s"> Java </button>
                    </div>
                    <div class="col-md-4 col-6 my-2">
                        <button data-animation="slideInUp" data-animation-delay=".6s"> Out System</button>
                    </div>
                    <div class="col-md-4 col-6 my-2">
                        <button data-animation="slideInUp" data-animation-delay=".9s"> Xamarin</button>
                    </div>
                    <div class="col-md-4 col-6 my-2">
                        <button data-animation="slideInUp" data-animation-delay=".3s"> SEO</button>
                    </div>
                    <div class="col-md-4 col-6 my-2">
                        <button data-animation="slideInUp" data-animation-delay=".6s"> E-pay</button>
                    </div>
                    <div class="col-md-4 col-6 my-2">
                        <button data-animation="slideInUp" data-animation-delay=".9s"> E-survey</button>
                    </div>
                    <div class="col-md-4 col-6 my-2">
                        <button data-animation="slideInUp" data-animation-delay=".3s"> E-lawyer</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="projectFacts" class="sectionClass">
        <div class="fullWidth eight columns">
            <div class="projectFactsWrap ">
                <div class="item wow fadeInUpBig animated animated" data-number="12" style="visibility: visible;">
                    <i class="fa fa-briefcase"></i>
                    <p id="number1" class="number">12</p>
                    <span></span>
                    <p>منتجاتنا</p>
                </div>
                <div class="item wow fadeInUpBig animated animated" data-number="55" style="visibility: visible;">
                    <i class="fa fa-smile-o"></i>
                    <p id="number2" class="number">55</p>
                    <span></span>
                    <p>عملائنا</p>
                </div>
                <div class="item wow fadeInUpBig animated animated" data-number="359" style="visibility: visible;">
                    <i class="fas fa-code"></i>
                    <p id="number3" class="number">359</p>
                    <span></span>
                    <p>خبرائنا</p>
                </div>
                <div class="item wow fadeInUpBig animated animated" data-number="246" style="visibility: visible;">
                    <i class="fas fa-user-graduate"></i>
                    <p id="number4" class="number">246</p>
                    <span></span>
                    <p>طلابنا</p>
                </div>
            </div>
        </div>
    </div>
    <section class="section2-slider block visitors" id="partners">
        <h4>زوار الموقع</h4>
        <div class="container">
            <h1 id="count" class="count-style">0</h1>
        </div>
    </section>

    <section class="section2-slider block" id="partners">
        <h4 data-animation="flipInY">شركائنا وعملائنا </h4>
        <div class="container">
            <div class="wrapper">
                <div class="carousel">
                    @foreach (var partner in Model.Partner)
                    {
                        <div class="card-div product">
                            <img src="~/Components/Images/Partners/@partner.ImageUrl" alt="">
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</main>

@foreach (var information in Model.Information)
{
    <footer class="footer-section style-arabic">
        <div class="container-padding">
            <div class="footer-cta pt-5 pb-5">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="cta-text">
                                <h4>أين تجدنا</h4>
                                <span>@information.FindUs_ar</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-phone"></i>
                            <div class="cta-text">
                                <h4>رقم التواصل</h4>
                                <span>@information.Phone</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="far fa-envelope-open"></i>
                            <div class="cta-text">
                                <h4>الإيميل </h4>
                                <span>@information.Email</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
                        <div class="footer-widget">

                            <ul>
                                <li>
                                    <a href="#home" class="js-anchor-link">الرئيسية</a>
                                </li>
                                <li><a href="#about" class="js-anchor-link">من نحن</a></li>
                                <li><a href="#services" class="js-anchor-link">خدماتنا</a></li>
                                <li><a href="#partners" class="js-anchor-link">شركائنا</a></li>
                                <li><a href="#contact" class="js-anchor-link">تواصل معنا</a></li>
                                <li><a href="mailto: info@imshah.com">وظائف</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 mb-50">
                        <div class="footer-widget">
                            <div class="footer-social-icon">
                                <span class="ms-5">تابعنا الأن</span>
                                <a href="@information.Facebook"><img src="~/images/facebook.png" class="tiktok-bg" /></a>
                                <a href="@information.Twiter"><img src="~/images/twitter.png" class="tiktok-bg" /></a>
                                <a href="@information.Instgram"><img src="~/images/instagram.png" class="tiktok-bg" /></a>
                                <a href="@information.Tiktok"><img src="~/images/tiktok.png" class="tiktok-bg" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-6 text-center text-lg-left">
                        <div class="copyright-text">
                            <p>حقوق النشر والنسخ ؛ 2023 ، جميع الحقوق محفوظة </p>
                        </div>
                    </div>
                 
                </div>
            </div>
        </div>
    </footer>
}

  <!-- /.wrap-center-middle -->

  <div id="modal_2" class="modal-window style-arabic">
    <div class="modal-window__title section-contact">

          <form asp-controller="Quotes" asp-action="Create" method="post" class="form-style" >
                          <h1 class="h1-form">أضف التسعيرة</h1>
                    
                        <div class="form-group ">
                            <label for="fullName">الاسم كامل :</label>
                            <input type="text" id="fullName" name="fullName" class="form-control"
                                    placeholder="add Full Name Name" required>
                        </div>
                           
                          
                        <div class="form-group ">
                            <label for="companyName">اسم الشركة :</label>
                            <input type="text" id="companyName" name="companyName" class="form-control"
                                    placeholder="add Company Name Name" required>
                        </div>
                        
                        <div class="form-group">
                            <label for="email">الإيميل :</label>
                            <input type="email" id="email" name="email" class="form-control"
                                   placeholder="add email" required>
                        </div>
                        <div class="form-group">
                            <label for="subject">نص الرسالى :</label>
                            <input type="text" id="subject" name="subject" class="form-control"
                                   placeholder="add subject" required>
                        </div>
                        <div class="form-group">
                            <label for="message">الرسالة :</label>
                            <textarea type="text" id="message" name="message" rows="4" class="form-control"
                                      placeholder="add message" required></textarea>
                        </div>
                        <div class="form-group d-flex">
                            <button type="submit" >ارسال</button>
                            <button class="modal-close" >اغلاق</button>
                        </div>
                    </form>
    </div>
  </div>
  <!-- /#modal_2 -->
  <div class="modal-window__backdrop hidden" id="modal-backdrop"></div>
  
